.button {
  font-family: $main-font;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-color;
  background-color: $main-color;
  border: 2px solid #444444;
}

.button:hover, .button:active {
  color: #ffffff;
  background-color: #444444;
  transition: 0.2s ease-out;
}

.button:active {
  color: rgba(225,225,225,0.3);
  background-color: #444444;
}

.button--green {
  color: #ffffff;
  background-color: $second-color;
  border: none;
}

.button--green:hover, .button--green:focus {
  background-color: $hover-color;
}

.button--green:active {
  color: rgba(225,225,225,0.3);
  background-color: $hover-color;
}
