.catalog {
  font-family: $main-font;
  background-color: $white-color;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 60px;
  }
}

.catalog__add-to-cart {
  display: block;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

.catalog-list {
  margin: 30px auto;
  padding: 0;
  list-style: none;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    margin-top: 80px;
    width: 670px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    display: flex;
    flex-direction: row;
    margin-top: 130px;
    width: 1050px;
    justify-content: space-between;
  }
}

.catalog-item {
  width: auto;
  border: 1px solid adjust-color($black-pallete, $lightness: 93%);
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    flex-direction: column;
    flex-basis: 30%;
  }
}

.catalog-item__image {
  border-bottom: 1px solid adjust-color($black-pallete, $lightness: 93%);
}

@media (min-width: $tablet-width) {
  .catalog-item__image {
    width: 334px;
    height: 334px;
    object-fit: cover;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__image {
    width: 315px;
    height: 465px;
  }
}

.catalog-item__name {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .catalog-item__name {
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__name {
    margin-bottom: 7px;
  }
}

.catalog-item__info {
  margin: 25px auto;
  width: 210px;
}

@media (min-width: $tablet-width) {
  .catalog-item__info {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__info {
    margin-bottom: 20px;
    width: 260px;
    min-height: 25%;
  }
}

.catalog-item__name a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.catalog-item__description {
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .catalog-item__description {
    margin-bottom: auto;
    font-size: 15px;
  }
}

.catalog-item__price {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  font-size: 15px;
  font-weight: bold;
  border-top: 1px solid adjust-color($black-pallete, $lightness: 93%);
  color: $black-pallete;
}

@media (min-width: $tablet-width) {
  .catalog-item__price {
    font-size: 17px;
    line-height: 24px;
  }
}
