.catalog {
  font-family: $main-font;
  background-color: $white-color;
}

.catalog-item__add-to-cart {
  border: none;
  background: none;
  padding: 0;
}

.catalog-item__icon {
  fill: #d3d2d2;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 33px;
  }
}

.catalog-list {
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    margin-top: 73px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    justify-content: space-between;
  }
}

.catalog-item {
  width: auto;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    box-shadow: -2px 2px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-out;
  }

  &:active {
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    border: 1px solid adjust-color($black-pallete, $lightness: 93%);
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    flex-direction: column;
    flex-basis: 30%;
    border: none;
  }
}

.catalog-item__image {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: $tablet-width) {
  .catalog-item__image {
    width: 334px;
    height: 334px;
    object-fit: cover;
    flex-basis: 50%;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__image {
    width: 315px;
    height: 465px;
    flex-basis: auto;
  }
}

.catalog-item__name {
  margin-bottom: 7px;
}

@media (min-width: $tablet-width) {
  .catalog-item__name {
    margin-bottom: 10px;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__name {
    margin-bottom: 7px;
    margin-right: 20px;
  }
}

.catalog-item__info {
  padding: 28px;
  border: 1px solid adjust-color($black-pallete, $lightness: 93%);
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .catalog-item__info {
    flex-basis: 50%;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item__info {
    border: 1px solid adjust-color($black-pallete, $lightness: 93%);
    flex-basis: auto;
    flex-grow: 1;
  }
}

.catalog-item__name a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.catalog-item__description {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-item__description {
    margin-bottom: 15px;
    font-size: 15px;
  }
}

.catalog-item__price {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  font-size: 15px;
  font-weight: bold;
  border-top: 1px solid adjust-color($black-pallete, $lightness: 93%);
  color: $black-pallete;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .catalog-item__price {
    font-size: 17px;
    line-height: 24px;
    margin-top: auto;
  }
}
