.contacts {
  margin: 0 auto;
  padding: 0;
  width: auto;
  background-color: $white-color;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 50px;

    /*временно*/
    border-top: 1px solid red;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 1050px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;

    /* допустимо ли в этом случае ограничивать высоту блока?*/
    height: 460px;
    /*временно*/
    border-top: 1px solid red;
  }
}

.contacts__wrapper {
  margin: 0 auto;
  width: 260px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 670px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    order: 1;
  }
}

@media (max-width: 767px) {
  .contacts__title.page-subtitle {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__title {
    position: relative;
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .contacts__title::after {
    content: "";
    display: block;
    width: 47px;
    height: 81px;
    background-color: red;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title::after {
    position: absolute;
    left: -35%;
  }
}

.contacts__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .contacts__item {
    flex-basis: 300px;
  }
}

.contacts__item-value {
  width: 20%;
}

.contacts__item-field {
  width: 70%;
}

@media (min-width: $tablet-width) {
  .contacts__item-field {
    width: auto;
  }
}

.contacts__map {
  width: auto;
  margin-bottom: 35px;
}

@media (min-width: $desktop-width) {
  .contacts__map {
    width: 527px;
    height: 460px;
    order: 3;
    margin-bottom: 0;
  }
}

.contacts__button {
  margin: 0 auto;
  margin-bottom: 38px;
  width: 260px;

  .button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .contacts__button {
    margin-left: 0;
    order: 2;
    margin-bottom: 0;
  }
}
