.copyright {
  padding-top: 23px;
  padding-bottom: 23px;
}

.copyright__text {
  margin-right: 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 19px;
  color: $black-pallete;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: #63d1bb;

  &:hover,
  &:focus {
    fill: #46c1ae;
    transition: 0.2s ease-out;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__link {
    padding: 0;
    justify-content: flex-end;
  }
}
