.features {
  margin: 0;
  padding: 0;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $main-color;
}

.features__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}
