.features {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  width: auto;
}

.features__title {
  margin-bottom: 30px;
}

.features__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $white-color;
}

.features__list:first-of-type {
  padding-right: 55px;
}

.features__item {
  position: relative;
  padding-top: 55px;
  margin-bottom: 28px;
  box-sizing: border-box;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $black-pallete;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 55px;
    height: 55px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
  }
}

.features__item--cheap::before {
  left: 0;
  background-image: url("../img/icon-feature-money.svg");
}

.features__item--likes::before {
  top: 7px;
  left: 3%;
  background-image: url("../img/icon-feature-heart.svg");
}

.features__item--hand-made::before {
  top: 4px;
  left: 1%;
  background-image: url("../img/icon-feature-ball.svg");
}

.features__item--support::before {
  top: 5px;
  left: -2%;
  background-image: url("../img/icon-feature-rocket.svg");
}

.features__item--gift::before {
  top: 5px;
  left: 0;
  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: $tablet-width) {
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 30px;
  }

  .features__title {
    margin-bottom: 40px;
    width: 100%;
  }

  .features__list {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-right: 30px;
  }

  .features__item {
    flex-basis: 50%;
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 22px;
    padding-top: 63px;
  }

  .features__item--eco::before {
    top: 8px;
    left: 3%;
  }

  .features__item--cheap::before {
    top: 10px;
    left: 0%;
  }

  .features__item--likes::before {
    top: 13px;
    left: 3%;
  }

  .features__item--hand-made::before {
    top: 11px;
  }

  .features__item--support::before {
    top: 11px;
  }

  .features__item--gift::before {
    top: 8px;
    left: 3px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 57px 175px 40px;
  }
}
