.modal {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  background-color: $white-color;
}

.modal__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: $black-pallete;
}

.modal__size-select {
  margin: 0;
  padding: 0;
}
