.production {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  &:hover,
  &:focus {
    box-shadow: -2px 2px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-out;
  }

  &:active {
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 105px;
  }
}

.production__wrapper {
  border: 1px solid lighten($black-pallete, 93%);
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .production__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .production__wrapper {
    padding: 41px 50px 64px 760px;
    position: relative;
  }
}

.production__title {
  margin-top: 26px;
  margin-bottom: 22px;
  padding-left: 30px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 33px;
    height: 33px;
    background-image: url("../img/icon-video.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 25px;
    flex-shrink: 0;
  }
}

@media (min-width: $tablet-width) {
  .production__title {
    order: 2;
    padding-left: 40px;
    margin-top: 32px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .production__title {
    margin: 0;
    margin-bottom: 35px;
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  &::before {
    margin-bottom: 17px;
  }
}

.production__video {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.production__cover {
  object-fit: cover;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .production__video {
    order: 1;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .production__video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 682px;
    height: 455px;
  }
}

.production__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 80px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    transition: 0.3s all;
    width: 120px;
    height: 100px;
    background-size: contain;
  }

  &:active {
    transition: 0.3s all;
    opacity: 0.8;
    width: 80px;
    height: 60px;
    background-size: contain;
  }
}

.production__info {
  padding: 30px 35px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .production__info {
    order: 3;
    padding: 25px 40px 45px;
  }
}

@media (min-width: $desktop-width) {
  .production__info {
    padding: 0;
  }
}

.production__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-right: 5px;
  font-size: 13px;
}

@media (min-width: $tablet-width) {
  .production__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .production__text {
    margin-bottom: 45px;
  }
}

.production__button {
  width: 100%;
}
