.reviews {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__button {
  order: 3;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-left: -50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 80px 0 50px 50px;
    margin-bottom: 67px;
  }

  .reviews__title {
    margin-bottom: 45px;
  }

  .reviews__button {
    order: initial;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    display: flex;
    margin: 0;
    margin-left: 0;
    padding: 70px 0 95px 175px;
    margin-bottom: 65px;
    box-sizing: border-box;
  }

  .reviews__button {
    margin-top: 8px;
  }
}
