.select-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  width: auto;
  list-style: none;
}

.select__item {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  border: 2px solid lighten($black-pallete, 95%);
  padding: 15px 10px;
  flex-basis: 22%;
  cursor: pointer;
}

.select__item:hover {
  border: 2px solid lighten($black-pallete, 80%);
}

.select__item:active {
  border: 2px solid $green-color;
  transition: 0.2s ease-out;
}
