.social {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: lighten($black-pallete, 95%);
  border-bottom: 1px solid lighten($black-pallete, 87%);
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 150px;
}

.social__link {
  display: flex;
  align-items: center;
}

.social__icon {
  fill: #221f1f;

  &:hover,
  &:focus {
    fill: $green-color;
    transition: 0.2s ease-out;
  }

  &:active {
    fill: transparentize($green-color, 0.3);
  }
}
