.social {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
  padding: 0;
  background-color: lighten($black-pallete, 95%);
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 150px;
}

.social__item {
  /*временно*/
  background-color: red;
}

.social__link {
  display: flex;
  align-items: center;
}
