.user-list__icon {
  margin-right: 25px;

  /*& path {
    fill: rgba(34, 31, 31, 0.3);
  }*/
  fill: rgba(34, 31, 31, 0.3);
}

.user-list__item {
  &:hover .user-list__icon,
  &:focus .user-list__icon {
    fill: $green-color;
    transition: 0.2s ease-out;
  }

  &:active .user-list__icon {
    fill: transparentize($green-color, 0.3);
  }
}

.user-list__item a {
  padding-left: 28px;
  display: flex;
  align-items: center;
}

.user-list__item--delivery {
  font-size: 15px;
  font-weight: normal;
  color: adjust-color($black-pallete, $lightness: 27%);
  display: none;
}

@media (min-width: $tablet-width) {
  .user-list {
    flex-basis: 52%;
    justify-content: flex-end;
  }

  .user-list__item a {
    padding-right: 0;
  }

  .user-list__item--search a {
    border-right: 1px solid adjust-color($black-pallete, $lightness: 93%);
    border-left: 1px solid adjust-color($black-pallete, $lightness: 93%);
    padding: 36px 32px 34px 32px;
    box-sizing: border-box;

    & .user-list__icon {
      margin-right: 0;
    }
  }

  .user-list__item--search span {
    display: none;
  }

  .user-list__item--cart {
    & a {
      padding-top: 32px;
      padding-bottom: 33px;
      padding-left: 35px;
      font-size: 17px;
    }
  }

  .user-list__item--delivery {
    display: flex;
    z-index: 1;
  }

  .user-list__item--delivery a {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    flex-basis: 33%;
  }
}
