.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 13px;
  line-height: 24px;
  font-family: $main-font;
  font-weight: normal;
  color: adjust-color($black-pallete, $lightness: 27);
}

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  /*background-color: $white-color;*/

  /*временно для сетки*/
  min-height: 320px;
  background-color: rgba(211, 215, 255, 0.8);
}

@media (min-width: @tablet-width) {

}

.page-header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgba(211, 215, 150, 0.8);
}

.page-header__logo-image {
  width: 86px;
  height: 35px;
}

.page-title {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  color: #010000;
}

.page-subtitle {
  margin: 0;
  padding: 0;

  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.page-headings {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.page-main {
  margin: 0;
  padding: 0;
}

.page-text {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  /*color: lighten($black-pallete, 95%);*/
}

.page-footer {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  background-color: lighten($black-pallete, 95%);
}
