body {
  min-width: 320px;
  font-size: 13px;
  line-height: 24px;
  font-family: $main-font;
  font-weight: normal;
  color: adjust-color($black-pallete, $lightness:29);
}

img {
  max-width: 100%;
  height: auto;
}
